.brand{
    box-sizing: border-box;
    width: 240px;
    padding: 16px;
    border-radius: 6px;
    background-color: #FFFFFF;

    @media(min-width: 768px){
      width: auto;
      max-height: 72px;
      padding: 16px;
      border-radius: 6px;
      background-color: #FFFFFF;
    }

    @media(min-width:1024px){
      :hover{
        transition-duration: 0.5s;
        transition-property: transform;
        transform: scale(1.1);
      }
    }

    &__content{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (min-width: 768px){
        margin-right: 0px;
    }
}