.swiper{
    &__container{
        box-sizing: border-box;
        margin-bottom: 16px;
        padding: 0px 16px 0px 16px;

        @media (min-width: 768px){
            max-height: 160px;
            overflow: hidden;
            display: grid;
            gap: 16px 24px;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 24px;
            margin-right: 0;
            padding: 0px 24px 0px 24px;

            &--big{
                max-height: fit-content;
                margin-bottom: 46px;
            }    
        }

        @media (min-width: 1440px){
            padding-inline: 0;
            gap: 16px 32px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 0px 32px 0px 32px;
        }
    }

    &__pagination{
        position: static;
            --swiper-pagination-bullet-horizontal-gap: 6px;
            --swiper-pagination-color: #979797;
            --swiper-pagination-bullet-width: 12px;
            --swiper-pagination-bullet-height: 12px;
    }
}
