.brands{
    &__header{
        margin-bottom: 16px;
        margin: 0 0 16px 16px;

        @media (min-width: 768px){
            margin: 0 0 16px 24px;
        }
        @media (min-width: 1440px){
            margin: 0 0 16px 0px;
        }
    }

    &__title{
        text-transform: uppercase;
        color: rgb(126, 126, 130);
        font-size: 16px; 
        line-height: 150%;
        font-family: 'TT Lakes', sans-serif;
        font-weight: 400;
    }

    &__item{
        margin-right: 16px;
    }

    &__container{
        box-sizing: border-box;
        margin-bottom: 16px;
        padding: 0px 16px 0px 16px;

        @media (min-width: 768px){
            display: grid;
            gap: 16px 24px;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 24px;
            margin-right: 0;
            padding: 0px 24px 0px 24px;   
        }

        @media (min-width: 1440px){
            padding-inline: 0;
            gap: 16px 32px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 0px 32px 0px 0px;
        }
    }

    &__button{
        margin-left: 24px;

        @media (min-width: 1440px){
            margin-left: 0px;
        }
    }

    &__pagination{
        position: static;
            --swiper-pagination-bullet-horizontal-gap: 6px;
            --swiper-pagination-color: #979797;
            --swiper-pagination-bullet-width: 12px;
            --swiper-pagination-bullet-height: 12px;
    }
}
