.burger{
    box-sizing: border-box;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    overflow-y: auto;
    transition-property: transform;
    transition: $trans;
    transform: translateX(-350px);    
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    background-color: $white;

    @media (min-width: 1440px){
        z-index: unset;
        width: 306px;
        right: 2230px;
        transform: none;    
        margin-right: 31px;
        box-shadow: none;
    }

    &--active{
        transform: translateX(0px);    
    }

    &--disable{
        transform: translateX(-350px);    
    }

    &__container{
        width: 100%;
        height: 100%;
        padding: 23px 24px 10px 24px;
        display: flex;
        flex-direction: column;
    }

    &__top{
        display: flex;
        justify-content: space-between;
    }

    &__button-close{

        @media (min-width: 1440px){
            display: none;
        }
    }

    &__button:hover{
        transition: $trans;
        transition-property: filter;
        filter: contrast(200%);
    }

    &__button:first-child{
        margin-right: 16px;
    }

    &__button:last-child{
        margin-left: 78px;
    }

    &__option-list{
        margin-top: 20px;
        list-style: none;

        @media (min-width: 768px){
            margin-top: 50px;
        }

        @media (min-width: 1440px){
            margin-top: 37px;

        }

        .burger__option-item a{
            text-decoration: none;
            font-family: "TT Lakes";
            color: $basicText;
            font-size: 16px;
            font-weight: 500;
        }

        .burger__option-item:hover{
            transition: $trans;
            transition-property: opacity;
            opacity: 0.7;
        }

        .burger__option-item:not(:last-child){
            margin-bottom: 24px;
            
            @media (min-width: 768px){
                margin-bottom: 32px;
            }
        }
        
        .burger__option-item:first-child a{
            color: #7E7E82;
        }

        .burger__option-item:first-child{
            display: flex;
            align-items: center;

            &::before{
                content: url("../img/highlight.svg");
                position: absolute;
                left: 0;
            }
        }

    }

    &__footer{
        margin-top: 20px;

    }

    &__contacts-buttons{
        margin-bottom: 16px;
        max-height: 40px;

        :hover{
            transition: $trans;
            -webkit-transition : -webkit-filter 0.5s ease;
            filter: contrast(200%);
        }

        .burger__contacts-button{
            max-height: 40px;

            &:not(:last-child){
                margin-right: 16px;
            }
        }
    }

    &__email{
        margin-bottom: 12px;

        & > a{
            font-style: normal;
            color: $basicText;
            text-decoration: none;
            font-family: "TT Lakes", "sans-serif";
            font-size: 16px;
            font-weight: 500;
        }

    }

    &__number > a{
        font-style: normal;
        text-decoration: none;
        color: $basicText;
        font-family: "TT Lakes", "sans-serif";
        font-size: 24px;
        font-weight: 700;
    }

    &__languages{

        :hover{
            transition: $trans;
            color: #7E7E82;
        }

        & button{
            text-decoration: none;
            font-family: "TT Lakes", "sans-serif";
            color: inherit;
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__languages .burger__language-button--active{
        color: #7E7E82;
    }
}