.tech{
    box-sizing: border-box;
    padding: 16px 16px;
    min-height: 160px;
    max-width: 240px;
    border-radius: 6px;
    background-color: #FFFFFF;

    :hover{
        transition-duration: 0.5s;
        transform: scale(1.1);
    }

    @media(min-width: 768px){
        max-width: none;
    }

    &__content{
        height: 100%;
        display: flex;
        justify-content: space-between;

        > span{
            font-family: 'TT Lakes';
            font-weight: 500;
            align-self: flex-start;
        }

        > a{
            align-self: flex-end;
        }
    }

}