.tech{
    box-sizing: border-box;
    padding: 16px 16px;
    min-height: 160px;
    height: 1px;
    max-width: 240px;
    border-radius: 6px;
    background-color: $white;

    @media(min-width: 1024px){
        :hover{
            transition: $trans;
            transition-duration: transform;
            transform: scale(1.1);
        }
    }

    @media(min-width: 768px){
        min-width: none;
    }

    &__content{
        height: 100%;
        display: flex;
        justify-content: space-between;

        > span{
            color: $basicText;
            font-family: 'TT Lakes';
            font-weight: 500;
            align-self: flex-start;
        }

        > a{
            align-self: flex-end;
        }
    }

}